.stringbox {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    width: 377px;
    margin-right: 12px;
}

.inputbox {
    display: flex;
}

.circles {
    margin: 0;
    padding: 0;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 140px;
    align-items: start;
}

.circle {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    padding-left: 10px;
    position: relative;
}

.btnDelete{
    margin-left: 12px;
    margin-right: 80px;
}

.head{
    position: absolute;
    top: -50px;
    right: 25px;
}

.maxText{
    position: absolute;
}