.stringboxs {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.stringbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stringboxSecond {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.input {
    /* width: 377px; */
    margin-right: 12px;
    position: relative;

}

.inputbox {
    display: flex;
}

.circles {
    margin: 0;
    padding: 0;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 90px;
    align-items: start;
}

.circle {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    padding-left: 10px;
    position: relative;
    display: flex;
    align-items: baseline;
}

.btnBig {
    margin-right: 12px;
    width: 338px;

}

.head {
    position: absolute;
    top: -44px;
    left: 30px;
}

.tail{
    position: absolute;
    top: 100px;
    left: 40px; 
}

.btn {
    margin-right: 12px;
}

.maxText {
    position: absolute;
    left: 12px;
}

.buttonWidth {
    width: 100%;
}

.downCircle {
    position: absolute;
    top: 140px;
    left: 22px;
}

.upCircle {
    position: absolute;
    top: -85px;
    left: 22px;
}